*{
    font-family: 'Faustina', serif;
}
.mainView {
    height: 100vh;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.mainView2 {
    height: 100vh;
    overflow: auto;
}

.navname{
    margin-right: 30% !important;
}
.navglow:hover{
    color: yellow !important;
    text-shadow: -3px 0px 9px rgba(255, 244, 96, 1);
}

.resumeBtn:hover{
    border-color: yellow !important;
    color: yellow !important;
}

.resumeImg{
    width: 3vh;
}

.eqHeight{
    display: inline-block !important;
    height: 20vh !important;
}

.name{
    font-size: 8vh;
    font-family: 'Amiri', serif !important; 
}
.typed-out{
    overflow: hidden;
    border-right: .05em solid orange;
    white-space: nowrap;
    animation: 
    typing 3s steps(40, end) forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }

@media only screen and (max-width: 768px) {
    .mainView2{
        height: 75vh;
        overflow: auto;
    }
}