*{
    font-family: 'Faustina', serif;
}
.mainView {
    height: 100vh;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.mainView2 {
    height: 100vh;
    overflow: auto;
}

.navname{
    margin-right: 30% !important;
}
.navglow:hover{
    color: yellow !important;
    text-shadow: -3px 0px 9px rgba(255, 244, 96, 1);
}

.resumeBtn:hover{
    border-color: yellow !important;
    color: yellow !important;
}

.resumeImg{
    width: 3vh;
    margin-left: 8px;
}

.eqHeight{
    display: inline-block !important;
    height: 20vh !important;
}

.name{
    font-size: 6vh;
    font-family: 'Amiri', serif !important; 
}

  .small{
    margin-left: 10%;
    padding-left: 10%;
  }
  .resfnt{
    font-size: 16px;
  }

@media only screen and (max-width: 768px) {
    .mainView2{
        height: 70vh;
        overflow: auto;
    }
    .name{
        font-size: 30px;
    }
    .small{
        margin: 0px !important;
        padding: 0px !important;
        text-align: left;
    }
    .resumeImg{
        width: 15px;
        margin: 0px !important;
        padding: 0px!important;
    }
    .resfnt{
        font-size: 14px !important;
    }
}